<title>Add Service | Admin Template</title>
<%- include('../../layout/header'); %>
    <!-- content @s -->
    <div class="nk-content" id="edit-product">
        <div class="container-fluid">
            <div class="nk-content-inner">
                <div class="nk-content-body">
                    <div class="nk-block-head">
                        <div class="nk-block-between g-3">
                            <div class="nk-block-head-content">
                                <h3 class="nk-block-title page-title">Add Service</h3>
                            </div>
                            <div class="nk-block-head-content">
                                <a href="/list-service"
                                    class="btn btn-outline-light bg-white d-none d-sm-inline-flex"><em
                                        class="icon ni ni-arrow-left"></em><span>Back</span></a>
                                <a href="/list-service"
                                    class="btn btn-icon btn-outline-light bg-white d-inline-flex d-sm-none"><em
                                        class="icon ni ni-arrow-left"></em></a>
                            </div>
                        </div>
                    </div><!-- .nk-block-head -->
                    <div class="nk-block">
                        <div class="invoice">
                            <div class="invoice-wrap">
                                <div class="invoice-brand text-center">
                                    <img src="./images/logo-dark.png" srcset="./images/logo-dark2x.png 2x" alt="">
                                </div>

                                <div class="card card-bordered">
                                    <div class="card-inner">
                                        <form action="add-service" method="post"  enctype="multipart/form-data" class="form-validate is-alter">
                                            <div class="row g-gs">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="form-label" for="name">Name
                                                            service</label>
                                                        <div class="form-control-wrap">
                                                            <input type="text" class="form-control" id="name"
                                                                value="" name="name" required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="form-label" for="slug">Path / Slug</label>
                                                        <div class="form-control-wrap">
                                                            <input type="text" class="form-control" id="slug"
                                                                name="slug" >
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="form-label" for="meta_keyword">Meta
                                                            Keywords</label>
                                                        <div class="form-control-wrap">
                                                            <input type="text" class="form-control" id="meta_keyword"
                                                                name="meta_keyword" >
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="form-label" for="meta_description">Meta
                                                            Description</label>
                                                        <div class="form-control-wrap">
                                                            <input type="text" class="form-control" id="meta_description"
                                                                name="meta_description">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="form-label" for="customMultipleFilesLabel">Image
                                                            avatar</label>
                                                        <div class="form-control-wrap">
                                                            <div class="custom-file">
                                                                <input type="file" multiple class="custom-file-input" name="image"
                                                                    id="customMultipleFiles">
                                                                <label class="custom-file-label"
                                                                    for="customMultipleFiles">Choose files</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 d-flex">
                                                    <div class="col-md-6 pl-0">
                                                        <div class="form-group">
                                                            <label class="form-label" for="price">Price</label>
                                                            <div class="form-control-wrap">
                                                                <input type="number" class="form-control" id="price"
                                                                    name="price">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 pr-0">
                                                        <div class="form-group">
                                                            <label class="form-label" for="price_sell">Price Sell</label>
                                                            <div class="form-control-wrap">
                                                                <input type="number" class="form-control" id="price_sell"
                                                                    name="price_sell">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6" >
                                                    <div class="form-group">
                                                        <label class="form-label" for="status">Status</label>
                                                        <div class="form-control-wrap ">
                                                            <select class="form-control form-select"
                                                                id="status" name="status"
                                                                data-placeholder="Select a option" required>
                                                                <option value="1">Show</option>
                                                                <option value="0">Hidden</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6" >
                                                    <div class="form-group" id="_service">
                                                        <label class="form-label" for="fva-topics4">Select Category Service</label>
                                                        <div class="form-control-wrap ">
                                                            <select class="form-control form-select" id="fva-topics44" name="service_id" data-placeholder="Select a option" >
                                                                <option value="0">No select</option>
                                                                <% for (let parent of data) { %>
                                                                    <% if (parent.parent_id == 0) { %>
                                                                        <option value="<%= parent.id %>"><%= parent.name %></option>
                                                                    <% } %>
                                                                <% } %>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="form-label" for="title">Title</label>
                                                        <div class="form-control-wrap">
                                                            <textarea class="form-control form-control-sm"
                                                                id="title" name="title"
                                                                placeholder="Write your title"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="form-label">Description</label>
                                                        <div class="card card-bordered">
                                                            <div class="card-inner">
                                                                <textarea name="description" id="description" cols="30"
                                                                    rows="10"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group" style="text-align: center;">
                                                        <button type="submit"
                                                            class="btn btn-lg btn-primary">Create</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div><!-- .nk-block -->
                        </div><!-- .invoice -->
                    </div><!-- .nk-block -->
                </div>
            </div>
        </div>
    </div>
    <%- include('../../layout/footer'); %>

    <script>
        CKEDITOR.replace('description');
        // $(document).ready(function () {
        //     $('#_service').hide();
        //     $('#fva-topics3').on('change', function () {
        //         if ($('#fva-topics3').val() == 'category') {
        //             $('#_category').show();
        //             $('#_service').hide();
        //         } else {
        //             $('#_service').show();
        //             $('#_category').hide();
        //         }
        //     });
        // });
    </script>